<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="footer-heading">© {{ site.title }} 2016</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1 col-sm-offset-5 text-center">
      <h5><a class="page-link" href="https://www.linkedin.com/in/peterklipfel"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h5>
    </div>
    <div class="col-sm-1 text-center">
      <h5><a class="page-link" href="https://github.com/peterklipfel"><i class="fa fa-github" aria-hidden="true"></i></a></h5>
    </div>
  </div>

  </div>
</footer>
