$primary_color: #109174;
$primary_accent_1: #4FAF9A;
$primary_accent_2: #2E9981;
$primary_accent_3: #07725A;
$primary_accent_4: #005945;

$complementary_1: #E19619;
$complementary_1_accent_1: #FFCB74;
$complementary_1_accent_2: #EEAF47;
$complementary_1_accent_3: #B1730B;
$complementary_1_accent_4: #8A5600;

$complementary_2: #D41735;

$light_gray: #f9fafa;
$dark_gray: #364441;

@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

/* globals */

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: $light_gray;
  &:visited {
    color: $light_gray;
  }
  &:hover {
    color: $complementary_1
  }
}

.full {
  min-height:100%;
  padding: 0;
}

.jumbotron {
  background: none;
  color: $light-gray;
}

/* Vertical Divider in navbar */
.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

/* Background */
.background {
  position: fixed;
  z-index: -1;
}

path {
  stroke: $dark-gray;
}

path:first-child {
  fill: $complementary_1 !important;
}

circle {
  fill: #000;
  pointer-events: none;

}

.q0-9 { fill: $primary_color;  }
.q1-9 { fill: $primary_accent_1;  }
.q2-9 { fill: $primary_accent_2;  }
.q3-9 { fill: $primary_accent_3;  }
.q4-9 { fill: $primary_accent_4;  }
.q5-9 { fill: $primary_accent_1;  }
.q6-9 { fill: $primary_accent_2;  }
.q7-9 { fill: $primary_accent_3;  }
.q8-9 { fill: $primary_accent_4;  }

/* Header */

.navbar{
  background-color: $light_gray;
  border-radius: 0;
}

.site-nav {
  .page-link {
    color: $light_gray;
    &:hover {
      color: $complementary_1;
      text-decoration: none;
    }
  }
}

.navbar-brand {
  font-family: 'Nothing You Could Do', cursive;
  color: $dark_gray;
  &:visited {
    color: $dark_gray;
  }
}

/* Footer */
footer {
  background-color: $dark-gray;
  color: $light-gray;
}

/* Index */
.section-header {
  color: $light_gray;
}

